.idea/*
.bsp/*
out/
dist/*
target/
project/boot/
project/plugins/project/
.history
.cache
.lib/
testResources/apiTestData/*
tempData/!/testResources/apiTestData/leetcode/cookie

!/testResources/apiTestData/leetcode/cookie_cn
